body{

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;

}

.title{

    background-color:white;
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.conteiner-logo{

    width: 50px;
    height: 50px;

}

#img-logo{

    height:100%;
    width:100% ;

}

.toboolist{

    font-size: 40px;
    margin: 0;
}

#contenitore{

    width: 75%;
    height: 600px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color:white;
    border-radius: 4px;
    
}


.add-selector{
    
    padding-left: 50px;
    padding-bottom: 5px;
    height: 50px;
    border-bottom: 3px whitesmoke solid;

}

input{

    border-radius: 5px;
    border: 1px grey solid;
    color: #dfe2e5;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 15px;

}

.color-clicked{

    background-color: #78a7ed;
    color: white;

}

.color-uncliched{

    background-color: white;

}

.contenuto{

    padding-left: 50px;
    padding-bottom: 5px;
    height: 50px;

}

h2{

    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 20px;

}

p{

    margin-top: 5px;

}

.simbol{

    margin-right: 8px;
    margin-left: 5px;
    padding: 3px;
    font-size: x-small;


}

.check{

    border: green 1px solid;
    border-radius: 50%;
    color: green;

}

.cross{

    border: red 1px solid;
    border-radius: 50%;
    color: red;

}

.etichetta{

    padding: 6px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: x-small;
    color: whitesmoke;


}

.editorial{

    background-color: #78a7ed;

}

.q1-goals{

    background-color:#9567df;

}

.recruiting{

    background-color:#8ac1aa ;
    
}

.mobile{

    background-color: #dba447;

}

.website{

    background-color:#bf62a0 ;

}

.sales{

    background-color: #b5ce41;

}
